
/*appel elements HTML par nom de balise
*/
@font-face 
   {font-family: "Roboto"; 
      src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
      src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg"); }
      
      @font-face 
      {font-family: "Askan Black"; 
         src: url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.eot"); src: url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.woff") format("woff"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.svg#Askan Black") format("svg"); }
      
         @font-face 
         {font-family: "SanchezSlabW03-BlackIt"; 
            src: url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.eot"); 
            src: url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.woff") format("woff"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.svg#SanchezSlabW03-BlackIt") format("svg"); }
     
         /*selecteur*/
body  {
   min-height:100vh;
   padding: 10;
   background: rgb(0, 0, 0);
   padding: 20px;
   margin: 10px;
   }
/*entete*/
header {
   height: 20vh;
   display:block;
   padding: 10px ;
   position: relative;
}
.logo {
   text-decoration: none;
   font-size:x-large;
   color: #ffffff;
   font-family: "Roboto";
   position: fixed;
   top: 1%;
   left: 0%;
   
}
.logo a{
   text-decoration: none;
   color: #ffffff;
   padding: 20%;
  
}
ul#horizontal-list{
   list-style:none;
   word-spacing:20px; 
   font-size: 80%;
   color: #ffffff;
   font-family:"roboto" ,"Askan Black", "Helvetica, sans-serif";
   margin-left: 60%;
   position: fixed;
   padding: 1%;
   margin-top: 3%;
}

ul#horizontal-list li{
   display: inline-block; 
   bottom: 10%;
}
ul#horizontal-list  li a{
   text-decoration: none;
   color: #ffffff;
   display: inline-block;
   font-size: 1.2em;
}

.tittle--big {
   height: 100px;
   font-size: 2.0em;
   color:#ffffff;
   font-family:"roboto" ,"Askan Black", "Helvetica, sans-serif";
   display: block;
   position:relative;
   padding-top: 15%;
   left: 2%;  
   margin-bottom: 3%;

}

.paragraphe {
  height: 15vh;
   color: #ffffff;
   font-family: "roboto";
   padding: 0%;
   font-size :1.30rem;
   display: block;
   position:block; 
   margin-left: 5%;
   margin-top: 7%;
}

h1 {
   color:#ffffff;
   position: block;
   font-family: "Roboto";
   padding: 1%;
   margin-bottom: 7%;
   font-size: 1.8em; 
   margin-left: 40%;
}
#A-propos h1{
   margin-top: 10%;
   margin-bottom: 1%;
}
#A-propos p{
height: 40px;
padding: 2%;
margin-bottom:10%;
display: block;
position: relative;
margin-left: 6%;
font-size: 1.30rem;   
}
h2{
   color: #ffffff;
   font-family: "roboto";
   padding: 2%;
   font-size: 1.3em;
   margin-left: 2%;
}
#services
{
   padding-top: 10%;
  
}
span {
   display:flex;
   flex-direction: column;
   font-family: "roboto";
   font-size: 0.9em;

}
#language p{
   font-size: 1em;
   margin-top:110px;
   text-align:start; 
   }
   

.skill{
width: 100%;
  padding-top: 10px;  
  color: rgb(255, 250, 250);
  margin-bottom: 0%; 
  border-radius: 10px 40px 40px 10px; 
  text-align: center;
}
.html {width: 50%; background-color: #691b63; 
}
.css{width: 30%; background-color: #2e3894;
}
.js{width: 1%; background-color: rgb(87, 155, 90);
}
.php{width: 10%; background-color: #a87272;
}
.symfony{width: 1%; background-color: #60612e;
}
/*retirer les points*/
.button-btn-sidebar{
   border: 0!important;
   background:transparent;
   padding: 1px;
   height: 100px;
   width: 20px;
   display:flex;
   justify-content:center;
   background: transparent; 
   
}
.sidebar {
   position:fixed;
   bottom: 130px;
   right: 48px;
   background: transparent;  
    
}
.button{
   background: transparent;
   border-style: none;
   text-decoration:none;
}
