/*appel elements HTML par nom de balise
*/

@font-face {
   font-family: "Roboto";
   src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
   src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg");
}

@font-face {
   font-family: "Askan Black";
   src: url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.eot");
   src: url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.woff") format("woff"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.svg#Askan Black") format("svg");
}

@font-face {
   font-family: "SanchezSlabW03-BlackIt";
   src: url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.eot");
   src: url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.woff") format("woff"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.svg#SanchezSlabW03-BlackIt") format("svg");
}

/*selecteur*/
body {
   width: 100%;
   height: 100%;
   min-height: 100vh;
   min-width: 100vh;
   background: #303030;
   padding: 0px;
   margin: 5px;
   overflow-x: hidden;
   font-family: "roboto";
   color: #ffffff;
}

div:target {
   padding-top: 17em; 
}

h2{
   padding: 5%;
   text-align: center;  
}

h1 {
   display: block;
   margin-left: 19px;
   color: #ffffff;
   font-family: "roboto";
   width: 100%;
   text-align: center;

}
.logo {
   font-size: x-large;
   font-family: "roboto";
   position: fixed;
   top: 1%;
   left: 1%;
}
.logo a {
   text-decoration: none;
   color: #ffffff;
   display: fixed;
}
ul#horizontal_list {
   max-width: 50%;
   /* width: 100%; */
   list-style: none;
   word-spacing: 15px;
   font-size: 70%;
   color: #ffffff;
   font-family: "roboto", "Askan Black", "Helvetica, sans-serif";
   /* margin-block-end: auto; */
   position: fixed;
   margin: 3%;
   left: 60%;
}

ul#horizontal_list li {
   display: inline-block;
}
ul#horizontal_list li a {
   text-decoration: none;
   color: #ffffff;
   display: inline-block;
   font-size: 1.2em;
   
}
.tittle__big {
   height: auto;
   max-height: 50%;
   font-size: 2.5em;
   color: #ffffff;
   font-family: "roboto";
   display:block;
   left: 20%;
   margin-bottom: 3%;
   margin-left: 2%;
   margin-top: 25%;  
} 
#paragraphe{
height: 100%;
margin-bottom: 23%;
margin-top: 25%;
}
#paragraphe p{
   height: 100%;
   color: #ffffff;
   font-family: "roboto";
   font-size: 1.4em;
   text-align: center; 
   margin-left: 30px;  
}
#A_propos{
   display: block;
   height: auto;
   width: 100%;
   margin-bottom: 20%;
   padding-top: 10em; 
}
#A_propos p {
   height: auto; 
   display: relative;
   margin-left: 10%;
   font-size: 1.5rem;
   color: #ffffff;
   font-family: "roboto";
   max-width: 200%;
   text-align: center;
}
#Competences{
   display: block;
   font-family: "roboto";
   height: 100%;
   width: 100%;
   margin-bottom: 20%;
   padding-top: 8em; 
}
#Competences h2{
color: #ffffff;
text-align: center;
height: 100%;
display: inline-block;
position: relative;
left: 50px;

}
#Competences p{
width: 30%;
color: #ffffff;
}
#langage h2{
color: #ffffff;
text-align: center;
height: 100%;
display: inline-block;
position: relative;
right:100px;



}
#langage{
   display: inline-block;
   width: 49%;  
}
#Projets{
   padding-top: 8em;
}
#CV{
   display: inline-block;
   vertical-align:top ;
   width: 45%;
   text-align: center!important; 
}

#HTML{
   background-color:#629999 ;
   width: 50%;
   color: #ffffff;
   text-align: center;
   border-radius: 30px;
}
#CSS{
   background-color:#629999 ;
   width: 30%;
   color: #ffffff;
   text-align: center;
   border-radius: 30px;
}
#JS{
   background-color:#629999 ;
   width: 10%;
   color: #ffffff;
   text-align: center;
   border-radius: 30px;
}
#PHP{
   background-color:#629999 ;
   width: 10%;
   color: #ffffff;
   text-align: center;
   border-radius: 30px;
}
#Symfony{
   background-color:#629999 ;
   width: 10%;
   color: #ffffff;
   text-align: center;
   border-radius: 30px;
}
#Projets{
   display: block;
   font-family: "roboto";
   height: auto;
   width: 100%;
   margin-bottom: 25%;
   padding-top: 10em; 
   
}

.bloc-grid {
   height: 30%;
   width: 70%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-column-gap: 100px;
   grid-row-gap: 50px;
   margin: auto;
   color: black;
   justify-content: center;
   font-family: "roboto";
}

.bloc-grid a {
   text-decoration: none;
   color: black;
}

div.item {
   height: 150%;
   width: 100%;
   padding: 0%;
   justify-content: center;
   align-items: center;
   font-family: "roboto";
   font-size: 1.3em;
}

.item {
   display: flex;
   padding: 100px;
   background-color: rgb(255, 255, 255);
   justify-items: center;
   margin-bottom: 10%;
}

.button-btn-sidebar {
   border: 0 !important;
   background: transparent;
   padding: 1px;
   height: 100px;
   width: 20px;
   display: flex;
   justify-content: center;
}

.sidebar {
   position: fixed;
   bottom: 160px;
   right: 60px;
}

.button {
   background: transparent;
   border-style: none;
   text-decoration: none;
}

ul {
   list-style-type: none;
}
#formulaire{
   position:relative;
   margin-left: 28vh;
   width: 400px;
   height: 480px;
   border: 2px solid ;
   border-radius: 30px;
   padding: 0;
   display: flex; 
   align-items: center;
}
#formulaire h2{
   color: #ffffff;
   text-align: center;
   height: 100%;
   display: inline-block;
   position: relative;
   left: 55px;
   margin-left: 10px;
   margin-bottom: 0%;
   margin-top: 0%;
 
}
#formulaire .form-box{
   width: 100%;
   padding: 40px;  
}
#formulaire h3 {
border-style: solid;
font-size: 1.4em;
display:flex;
height: 40px;
align-items: center;
justify-content: center;
}
.box-input{
position:relative ;
width: 100%;
height: 50px;
border-bottom: 1px solid #ffffff;
margin: 30px 0;
padding: 1px;
font-family: "roboto";
}
.box-input label{
   position: absolute;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   font-size: 1em;
   font-weight: 500;
   pointer-events: none;
   transition: 0.2s;
   
}
.box-input input:focus~label,
.box-input input:valid~label{
   top :-5px;

}
.box-input input{
   width:100% ;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   color: #ffffff;
   font-size: 1em;
  
}
.box-input .icon {
   position: absolute;
   right: 8px;
   font-size: 1.4em;
   line-height: 65px;
}

#btn{
   width: 100%;
   height: 30px;
   font-family:"roboto";
   border: none;
   background: #303030;
   color: #ffffff;
   border-radius: 10px;
   border-style:solid;
   text-align: center;
   font-weight: 600;
   margin: 4px;
}
footer {
   padding: 7%;
}
.slide-in {
   max-height: 100%;
   max-width: 100%;
   padding: 10px;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 0.6s ease-in-out,
   opacity 0.6s ease-in-out;
   height: 13%;
   display: flex;
   position: fixed;
   background-color: #303030 !important;
   right: 0;
   left: 0;
   top: 0;
   z-index: 3;
}
.slide-in.active {
   transform: translateX(0%);
   opacity: 1;
}
.slide-in-bienvenu {
   margin-top: 10%;
   max-width: 700px;
   padding: 10px;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 0.9s ease-in-out,
   opacity 0.9s ease-in-out;
}
.slide-in-bienvenu.active {
   transform: translateX(0%);
   opacity: 1;
}
.slide-in-apropos{
   max-width: 700px;
   padding: 10px;
   margin-left:170px ;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 1.5s ease-in-out,
   opacity 1.5s ease-in-out;
}
.slide-in-apropos.active {
   transform: translateX(0%);
   opacity: 1;

}.slide-in-competences{
   max-width: 700px;
   margin-left: 170px;
   align-items: center;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 1.5s ease-in-out,
   opacity 1.5s ease-in-out;
}

.slide-in-competences.active {
   transform: translateX(0%);
   opacity: 1;
}
.slide-in-projets{
   max-width: 700px;
   margin-left: 180px;
   align-items: center;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 1.5s ease-in-out,
   opacity 1.5s ease-in-out;
}

.slide-in-projets.active {
   transform: translateX(0%);
   opacity: 1;
}
.slide-in-formulaire{
   max-width: 700px;
   margin-left: 120px;
   align-items: center;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 1.5s ease-in-out,
   opacity 1.5s ease-in-out;
}

.slide-in-formulaire.active {
   transform: translateX(0%);
   opacity: 1;
}
.slide-in-bar{
   position: fixed;
   bottom: 0px;
   right: 0px;
   max-width: 700px;
   align-items: center;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 1.5s ease-in-out,
   opacity 1.5s ease-in-out;
}

.slide-in-bar.active {
   transform: translateX(0%);
   opacity: 1;
}