/*appel elements HTML par nom de balise
*/

@font-face {
   font-family: "Roboto";
   src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
   src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg");
}

@font-face {
   font-family: "Askan Black";
   src: url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.eot");
   src: url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.woff") format("woff"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fff307eb7ef0ea2c524e497133afdd9a.svg#Askan Black") format("svg");
}

@font-face {
   font-family: "SanchezSlabW03-BlackIt";
   src: url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.eot");
   src: url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.woff") format("woff"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4d98eae9a1baa9b2f6df9be6a442e576.svg#SanchezSlabW03-BlackIt") format("svg");
}

/*selecteur*/

body {
   width: 100%;
   height: 100%;
   min-height: 100vh;
   min-width: 100vh;
   padding: 5%;
   background: #303030;
   padding: 0px;
   margin: 10px;
}

/*entete*/
#header {
   height: 16%;
   width: 100%;
   display: flex;
   position: fixed;
   background-color: #303030 !important;
   right: 0;
   left: 0;
   top: 0;
   z-index: 3;
}

.target {
   padding-top: 50em;
   margin-top: -20em;
}

.logo {
   font-size: x-large;
   font-family: "Roboto";
   position: fixed;
   top: 1%;
   left: 1%;
}

.logo a {
   text-decoration: none;
   color: #ffffff;
}

ul#horizontal_list {
   list-style: none;
   word-spacing: 15px;
   font-size: 80%;
   color: #ffffff;
   font-family: "roboto", "Askan Black", "Helvetica, sans-serif";
   margin-left: 60%;
   position: fixed;
   padding: 1%;
   margin-top: 3%;
}

ul#horizontal_list li {
   display: inline-block;
}

ul#horizontal_list li a {
   text-decoration: none;
   color: #ffffff;
   display: inline-block;
   font-size: 1.2em;
}

.tittle__big {
   height: 100px;
   max-height: 50%;
   font-size: 2.5em;
   color: #ffffff;
   font-family: "roboto";
   display: relative;
   left: 20%;
   margin-bottom: 3%;
   margin-left: 2%;
   margin-top: 25%;
}

#paragraphe p {
   color: #ffffff;
   font-family: "roboto";
   font-size: 1.5em;
   margin-left: 5%;
   margin-bottom: 50%;
}

#A_propos p {
   height: 40px;
   padding: 0%;
   margin-bottom: 17%;
   margin-top: 5%;
   display: relative;
   margin-left: 10%;
   font-size: 1.70rem;
   color: #ffffff;
   font-family: "roboto";
   max-width: 80%;
   text-align: center;
   margin-bottom: 20%;
   min-block-size: 10%;
}

h1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10%;
   margin-bottom: 10%;
   font-size: 2.4rem;
   color: #ffffff;
   font-family: "roboto";
   margin-top: 20%;
   scroll-margin-top: 10vh;
}

#flexbox {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
   color: #ffffff;
   font-family: "roboto";
}

#flex_box h2 {
   color: #ffffff;
   font-family: "roboto";
   text-align: center;
   margin-bottom: 1%;
   margin-left: 10%;
}

#flex_box img {
   position: relative;
   width: 52%;
   height: 90%;
   border-radius: 10px;
   max-width: 100%;
   display: flex
}

div#langage {
   width: 40%;
   height: 25%;
   float: left;
   margin-left: 3%;
   color: #ffffff;
   font-family: "roboto";
}

span {
   display: flex;
   flex-direction: column;
   bottom: 0px;
   font-family: "roboto";
   font-size: 1.0em;
}

#langage p {
   font-size: 1.2em;
   margin-top: 10px;
   text-align: start;
   color: #ffffff;
   font-family: "roboto";
}

.skill {
   width: 50%;
   padding-top: 2px;
   margin-bottom: 5%;
   border-radius: 40px;
   text-align: center;
}

.html {
   width: 60%;
   height: 10%;
   background-color: #629999;
}

.css {
   width: 40%;
   background-color: #629999;
}

.js {
   width: 30%;
   background-color: #629999;
}

.php {
   width: 30%;
   background-color: #629999;
}

.symfony {
   width: 30%;
   background-color: #629999;
}

#projets h2 {
   margin-bottom: 10%;
   margin-top: 15%;
   margin-left: 10%;
   color: #ffffff;
   font-family: "roboto";
}

.container-grid {
   height: 30%;
   width: 70%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-column-gap: 90px;
   grid-row-gap: 30%;
   margin: auto;
   color: black;
   justify-content: center;
   font-family: "roboto";
}

.container-grid a {
   text-decoration: none;
   color: black;
}

div.item {
   height: 150%;
   width: 100%;
   padding: 0%;
   justify-content: center;
   align-items: center;
   font-family: "roboto";
   font-size: 1.3em;
}

.item {
   display: flex;
   padding: 100px;
   background-color: rgb(255, 255, 255);
   justify-items: center;
   margin-bottom: 10%;
}

.button-btn-sidebar {
   border: 0 !important;
   background: transparent;
   padding: 1px;
   height: 100px;
   width: 20px;
   display: flex;
   justify-content: center;
}

.sidebar {
   position: fixed;
   bottom: 160px;
   right: 60px;
}

.button {
   background: transparent;
   border-style: none;
   text-decoration: none;
}

ul {
   list-style-type: none;
}

footer {
   padding: 10%;
}